.header__container {
  background: #496E99;
}

.top-nav {
  max-width: 80rem;
  margin: auto;
}

.btn-new {
  border: 0;
  background: #496E99;
  color: #082137;
  text-decoration: none;
}

img  {
  width: 60rem;
}


// $page-background: #EDEEEF;
// $content-background: #E0E1E2;
// $button-blue: #082137;
// $brand-blue: #496E99;
