.header__container {
  background: $brand-blue;
}

.top-nav {
  max-width: 65rem;
  margin: auto;
}

.btn-new {
  border: 0;
  background: $brand-blue;
}

.icon-new {
  padding: 0.5rem 0;
  color: $button-blue;
  font-size: 1.5rem;
  font-weight: bolder;
}
