<div class="header__container">
  <div class="header">
    <header class="top-nav">
      <button class="btn-new">
        {{#link-to "new"}}
        {{fa-icon "plus-circle"}}
        {{/link-to}}
      </button>
    </header>
  </div>
</div>

{{outlet}}
